body {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #5B1D96;
    grid-template-rows: auto 1fr 2fr auto;
}
#titulo {
    
    color: aliceblue;
    font-size: 60px;
    font-weight: bolder;
    border-bottom: 3px solid aliceblue;
    display: inline-block;
}

.barra {
    background-color: #070926;
    padding: 20px;
}

#nav_sup #a_sup {
    text-decoration: none;
    color: aliceblue;
    
}

#nav_sup {
    display: flex;
    gap: 50px;
}

#main {
    display: flex;
    align-items: flex-start;
    justify-content: center; 
    background-color: #5B1D96;
    height: fit-content;
    
}

/*formulario*/
#form {
    background-color: #5B1D96;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #070926;
    border-radius: 10px;
}
form label {
    color: aliceblue;
    margin-bottom: 5px;
    font-weight: bold;
    
}
form input {
    background-color: #5B1D96;
    text-shadow: none;
    color: aliceblue;
    height: 70px;
    
}
#form_button {
    margin-top: 10px;
    padding: 10px;
    color: aliceblue;
    border-radius: 4px;
}

#main_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    background-color:  #5B1D96;
    color: aliceblue;
}
/*postagns*/

.posts_style {
    background-color: #9F2CBF;
    text-align: center;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    
}

.posts_style p {
    color: aliceblue;
}

.posts_style h3 {
    color: aliceblue;
}

#container_posts {
    display: flex;       /* Ativa o modo flexbox */
    flex-wrap: wrap;     /* Permite que os itens quebrem para a linha de baixo */
             /* Cria um espaço entre as divs */
}

/*edit e remove*/

.btn {
    background-color: #070926;
    border-radius: 15px;
    height: fit-content;
    text-decoration: none;
    
}

.btn a {
    text-decoration: none;
    color: aliceblue;
    
}

.inline_post_top {
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 0.5fr 1fr  ;
    align-items: center;
   
}

